# Shared
APP_ENV=development
COMPOSE_PROJECT_NAME=ws-image-pipeline

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_CONTAINER_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=image_pipeline
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/image_pipeline?schema=public
DATABASE_URL_DOCKER=postgresql://postgres:postgres@postgres:5432/image_pipeline?schema=public

# API
API_PORT=3000
API_PREFIX=api
API_CORS_ORIGIN=http://localhost:5173
API_WS_NAMESPACE=processing

# Azurite / Blob Storage
AZURITE_HOST=127.0.0.1
AZURITE_CONTAINER_HOST=azurite
AZURITE_BLOB_PORT=10000
AZURITE_QUEUE_PORT=10001
AZURITE_TABLE_PORT=10002
AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
AZURITE_BLOB_ENDPOINT=http://127.0.0.1:10000/devstoreaccount1
AZURITE_BLOB_ENDPOINT_DOCKER=http://azurite:10000/devstoreaccount1
AZURE_STORAGE_CONTAINER_ORIGINALS=images-original
AZURE_STORAGE_CONTAINER_PROCESSED=images-processed

# Azure Function
FUNCTIONS_WORKER_RUNTIME=python
FUNCTION_APP_PORT=7071
FUNCTION_WEBSOCKET_URL=ws://localhost:3000/processing
FUNCTION_WEBSOCKET_URL_DOCKER=ws://api:3000/processing
FUNCTION_SHARED_SECRET=change-me
